<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">

    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link"  *ngIf="user.is_superuser" routerLink="/candidates" routerLinkActive="active">candidates</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<!--{{user.is_superuser|json}}-->
<!--{{user|json}}-->
<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">

  <router-outlet></router-outlet>
</div>
